<div ngbDropdown #dropdown="ngbDropdown" placement="wire.dropdownPosition">
  <!--Wire-->
  <div  class="progress" id="colour_list"
        [ngClass]="{'vertical': wire.isVertical()}"
        ngbDropdownToggle
        style="height: 20px">
    <div  [ngClass]="wire.getStripeClass()"
          class="progress-bar background-{{wire.getColour().toLowerCase()}}" 
          style="width: 100%;" role="progressbar"
          *ngIf="wire.isConnected()">
      <div [ngClass]="{'vertical-text': wire.isVertical()}">
        <ng-container *ngTemplateOutlet="cutLabel; context:{wire:wire}"></ng-container>
      </div>
    </div>
  </div>
  <!--Dropdown menu-->
  <div ngbDropdownMenu aria-labelledby="colour_list">
    <small class="dropdown-item" *ngFor="let colour of wire.colours" (click)="wire.setColour(colour); indicateUpdate();">{{colour}}</small>
    <ng-container *ngIf="wire.isConnected()">
      <!--Stripe colours if toggle enabled-->
      <ng-container *ngIf="wire.stripped">
        <div class="dropdown-divider"></div>
        <small class="dropdown-item" *ngFor="let colour of wire.colours" (click)="wire.setStripeColour(colour); indicateUpdate();">{{colour}} Stripe</small>
      </ng-container>
      <!--Remove wire or disable stripes-->
      <div class="dropdown-divider"></div>
      <small class="dropdown-item" (click)="wire.setColour(); indicateUpdate();">Remove Wire</small>
      <small *ngIf="enableStrippedToggle" class="dropdown-item" (click)="wire.toggleStripped(); indicateUpdate();">Toggle stripped</small>
    </ng-container>
  </div>
</div>

<ng-template #cutLabel let-wire="wire">
  <div class="cut-label bg-danger d-inline text-light" *ngIf="wire.cut && wire.isConnected()">
    <strong>&nbsp;CUT&nbsp;</strong>
  </div>
</ng-template>