<div class="btn-group mr-3">
  <!--Selector-->
  <div class="btn-group" ngbDropdown role="group">
    <button [ngClass]="getSelectorClasses()" class="btn btn-sm" id="button-colours" ngbDropdownToggle>
      {{getColour()}}
    </button>
    <div ngbDropdownMenu aria-labelledby="button-colours">
      <small class="dropdown-item" *ngFor="let colour of colours" (click)="setColour(colour)">
        {{colour}}
      </small>
    </div>
  </div>
  <!--Button-->
  <div class="btn-group" ngbDropdown role="group">
    <button class="btn btn-outline-primary btn-sm" id="button-text" ngbDropdownToggle>
      {{buttonText}}
    </button>
    <div ngbDropdownMenu aria-labelledby="button-text">
      <small class="dropdown-item" *ngFor="let text of buttonTextOptions" (click)="setButtonText(text)">
        {{text}}
      </small>
    </div>
  </div>
</div>

<div class="row mt-2">
  <!--UI Elements-->
  <div class="col">
    <!--Button-->
    <div class="d-inline-block mr-1">
      <button class="btn btn-{{colourClass}} btn-square">
        {{buttonText}}
      </button>
    </div>
    <!--Strip display-->
    <div ngbDropdown class="d-inline-block" placement="left">
      <button class="btn btn-{{stripColourClass}} strip-bar" id="strip-colours" ngbDropdownToggle></button>
      <div ngbDropdownMenu aria-labelledby="strip-colours">
        <small class="dropdown-item" *ngFor="let colour of colours" (click)="setStripColour(colour)">
          {{colour}}
        </small>
      </div>
    </div>
  </div>
  <!--Help text-->
  <div class="col">
    <p>Directions for defusing this module.</p>
  </div>
</div>


