<div class="card">
  <div class="card-body">
    <!--Selector-->
    <div class="module-selector float-right">
        <div ngbDropdown class="d-inline-block" placement="bottom-right">
          <button class="btn btn-outline-primary btn-sm" id="module_list" ngbDropdownToggle>{{moduleName || "None"}}</button>
          <div ngbDropdownMenu aria-labelledby="module_list">
            <small class="dropdown-item" *ngFor="let option of getOptions()" (click)="loadModule(option)">{{option}}</small>
            <div class="dropdown-divider"></div>
            <small class="dropdown-item" (click)="loadModule(null)">None</small>
          </div>
        </div>
    </div>
    <!--Bomb module-->
    <div class="text-left">
      <div bomb-module-container></div>
    </div>
  </div>
</div>

