<h3>General Information</h3>
<div class="row">
  <!--Serial-->
  <div class="form-group col-sm">
    <label for="serial" class="col-form-label">Serial</label>
    <input  type="text" class="form-control" id="serial" placeholder="Serial" 
            ngModel (ngModelChange)="service.serial.next($event)" 
            required #serial="ngModel">
    <div *ngIf="serial.invalid" class="invalid-feedback">
      <div *ngIf="serial.errors.required" >Serial is required</div>
    </div>
  </div>
  <!--Total batteries-->
  <div class="form-group col-sm-2">
    <label for="serial" class="col-form-label">Total batteries</label>
    <input  type="number" class="form-control" id="battery" placeholder="Battery Count" 
            [ngModel]="totalBatteries" (ngModelChange)="service.totalBatteries.next($event)" 
            min="0" max="5" required #batteries="ngModel">
    <div *ngIf="batteries.invalid" class="invalid-feedback">
      <div *ngIf="batteries.errors.required" >Battery count is required</div>
    </div>
  </div>
  <!--Lit indicators-->
  <div class="form-group col-sm" style="margin-top: 6px;">
    <label class="form-label">Lit Indicators</label>
    <div class="input-group mb-3">
      <!--Lit indicator list-->
      <div class="btn-group form-control d-inline d-flex" style="height: 38px;">
        <div  class="btn-primary tab-indicator" 
              *ngFor="let indicator of litIndicators; let i = index;"
              (click)="service.removeLitIndicator(i)">
          <small>{{indicator}}&nbsp;&times;</small>
        </div>
      </div>
      <!--Dropdown menu-->
      <div class="input-group-append d-inline d-flex" ngbDropdown placement="bottom-right"> 
        <span class="btn btn-primary" id="basic-addon2" ngbDropdownToggle></span>
        <div ngbDropdownMenu>
          <small  class="dropdown-item" 
                  *ngFor="let option of litIndicatorOptions" 
                  (click)="service.addLitIndicator(option)">
            {{option}}
          </small>
        </div>
      </div>
    </div>
  </div>
  <!--Port list-->
  <div class="form-group col-sm" style="margin-top: 6px;">
    <label class="form-label">Ports</label>
    <div class="input-group mb-3">
      <!--Port list-->
      <div class="btn-group form-control d-inline d-flex" style="height: 38px;">
        <div  class="btn-primary tab-indicator" 
              *ngFor="let port of ports; let i = index;"
              (click)="service.removePort(i)">
          <small>{{port}}&nbsp;&times;</small>
        </div>
      </div>
      <!--Dropdown menu-->
      <div class="input-group-append d-inline d-flex" ngbDropdown placement="bottom-right"> 
        <span class="btn btn-primary" id="basic-addon2" ngbDropdownToggle></span>
        <div ngbDropdownMenu>
          <small  class="dropdown-item" 
                  *ngFor="let option of portOptions" 
                  (click)="service.addPort(option)">
            {{option}}
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Front</h3>
<div class="row" *ngFor="let row of bombLayout.front">
  <div class="col" *ngFor="let col of row">
    <bomb-module-selector [module-name]="col"></bomb-module-selector>
  </div>
</div>
<h3>Back</h3>
<div class="row" *ngFor="let row of bombLayout.back">
  <div class="col" *ngFor="let col of row">
    <bomb-module-selector [module-name]="col"></bomb-module-selector>
  </div>
</div>
