<h3>General Information</h3>
<div class="row">
  <!--Serial-->
  <div class="form-group col-sm">
    <label for="serial" class="col-form-label">Serial</label>
    <input  type="text" class="form-control" id="serial" placeholder="Serial" 
            ngModel (ngModelChange)="service.serial.next($event)" 
            required #serial="ngModel">
    <div *ngIf="serial.invalid" class="invalid-feedback">
      <div *ngIf="serial.errors.required" >Serial is required</div>
    </div>
  </div>
  <!--Total batteries-->
  <div class="form-group col-sm-2">
    <label for="serial" class="col-form-label">Total batteries</label>
    <input  type="number" class="form-control" id="battery" placeholder="Battery Count" 
            [ngModel]="totalBatteries" (ngModelChange)="service.setTotalBatteries($event)" 
            min="0" max="5" required #batteries="ngModel">
    <div *ngIf="batteries.invalid" class="invalid-feedback">
      <div *ngIf="batteries.errors.required" >Battery count is required</div>
    </div>
  </div>
  <!--Lit indicators-->
  <div interactive-item-list class="col-sm"
    [items]="litIndicators"
    [options]="litIndicatorOptions"
    [label]="'Lit Indicators'"
    [text]="'Max '+maxIndicators+' indicators'"
    (onItem)="service.removeLitIndicator($event)"
    (onOption)="service.addLitIndicator($event)"
  ></div>
  <!--Port list-->
  <div interactive-item-list class="col-sm" 
    [items]="ports"
    [options]="portOptions"
    [label]="'Ports'"
    [text]="'Max '+maxPorts+' ports'"
    (onItem)="service.removePort($event)"
    (onOption)="service.addPort($event)"
  ></div>
</div>

<h3>Front</h3>
<div class="row" *ngFor="let row of bombLayout.front">
  <div class="col" *ngFor="let col of row">
    <bomb-module-selector [module-name]="col"></bomb-module-selector>
  </div>
</div>
<h3>Back</h3>
<div class="row" *ngFor="let row of bombLayout.back">
  <div class="col" *ngFor="let col of row">
    <bomb-module-selector [module-name]="col"></bomb-module-selector>
  </div>
</div>
