<h3>General Information</h3>
<div class="row">
  <!--Serial-->
  <div class="form-group col-sm">
    <label for="serial" class="col-form-label">Serial</label>
    <input  type="text" class="form-control" id="serial" placeholder="Serial" 
            ngModel (ngModelChange)="service.serial = $event" 
            required #serial="ngModel">
    <div *ngIf="serial.invalid" class="invalid-feedback">
      <div *ngIf="serial.errors.required" >Serial is required</div>
    </div>
  </div>
  <!--Total batteries-->
  <div interactive-item-list class="col-sm"
    [items]="service.batteries$ | async"
    [options]="batteryOptions"
    [label]="'Batteries'"
    [text]="'Max '+maxBatteries+' batteries'"
    (onItem)="service.removeBattery($event)"
    (onOption)="service.addBattery($event)"
  ></div>
  <!--Lit indicators-->
  <div interactive-item-list class="col-sm"
    [items]="service.litIndicators$ | async"
    [options]="litIndicatorOptions"
    [label]="'Lit Indicators'"
    [text]="'Max '+maxIndicators+' indicators'"
    (onItem)="service.removeLitIndicator($event)"
    (onOption)="service.addLitIndicator($event)"
  ></div>
  <!--Port list-->
  <div interactive-item-list class="col-sm" 
    [items]="service.ports$ | async"
    [options]="portOptions"
    [label]="'Ports'"
    [text]="'Max '+maxPorts+' ports'"
    (onItem)="service.removePort($event)"
    (onOption)="service.addPort($event)"
  ></div>
</div>

<h3>Front</h3>
<div class="row" *ngFor="let row of bombLayout.front">
  <div class="col" *ngFor="let col of row">
    <bomb-module-selector [module-name]="col"></bomb-module-selector>
  </div>
</div>
<h3>Back</h3>
<div class="row" *ngFor="let row of bombLayout.back">
  <div class="col" *ngFor="let col of row">
    <bomb-module-selector [module-name]="col"></bomb-module-selector>
  </div>
</div>
