<div class="col text-center">
  <div class="row">
    <div class="form-group">
      <input  type="number" class="form-control form-control-sm" 
              id="strikes" placeholder="Strike Count" 
              [(ngModel)]="service.total_strikes" 
              min="0" max="2" required 
              #strikes="ngModel" 
              style="width: 100%">
      <small for="strikes" class="form-text text-muted">Total strikes</small>
    </div>
  </div>
  <div class="row">
    <div class="btn btn-lg btn-outline-primary timer" (click)="timer.toggle()">
      <a *ngFor="let digit of timer.getDigits()">
        {{digit.getValue()}}
      </a>
    </div>
  </div>
</div>



