<!-- <div class="row" *ngFor="let led of ledState.slice(0, 6); let i = index;">
  <input type="checkbox" [checked]="led" (change)="setLedState(i, $event);">
</div>
<div class="row" *ngFor="let led of ledState.slice(6); let i = index+6;">
  <input type="checkbox" [checked]="led" (change)="setLedState(i, $event);">
</div> -->

<div>
  <input class="btn mr-1 mb-1"
    *ngFor="let led of ledState; let i = index;"
    type="checkbox" 
    [checked]="ledState[i]" 
    (change)="setLedState(i, !led)">
</div>

<div interactive-item-list
  [items]="possibleMoves"
  [showClose]="false"
></div>
  