<div class="form-group" style="margin-top: 6px;">
  <!--Label-->
  <label *ngIf="label" class="form-label">{{label}}</label>
  <div class="input-group">
    <!--Lit indicator list-->
    <div class="btn-group form-control d-inline d-flex" style="height: 38px;">
      <div  class="btn-primary item" 
            *ngFor="let item of items; let i = index;"
            (click)="itemClick(i)">
        <small>{{item}}&nbsp;&times;</small>
      </div>
    </div>
    <!--Dropdown menu-->
    <div class="input-group-append d-inline d-flex" ngbDropdown placement="bottom-right"> 
      <span class="btn btn-primary" id="basic-addon2" ngbDropdownToggle></span>
      <div ngbDropdownMenu>
        <small  class="dropdown-item" 
                *ngFor="let option of options" 
                (click)="optionClick(option)">
          {{option}}
        </small>
      </div>
    </div>
  </div>
  <!--Small text-->
  <small *ngIf="text" class="form-text text-muted">{{text}}</small>
</div>