<div class="form-group mb-0" style="margin-top: 6px;">
  <!--Label-->
  <label *ngIf="label" class="form-label">{{label}}</label>
  <div class="input-group">
    <!--Lit indicator list-->
    <div class="btn-group form-control" style="height: 38px;">
      <div class="d-flex flex-wrap">
        <ng-container *ngFor="let item of items; let i = index;">
          <div class="btn-primary {{getClass(item)}}"
              (click)="itemClick(i)"
              [ngClass]="{'item': showClose, 'item-no-close': !showClose}"
          >
            <small *ngIf="showClose">{{item}}&nbsp;&times;</small>
            <small *ngIf="!showClose">{{item}}</small>
          </div>
        </ng-container>
      </div>
    </div>
    <!--Dropdown menu-->
    <div *ngIf="options" class="input-group-append d-inline d-flex" ngbDropdown placement="bottom-right"> 
      <span class="btn btn-primary" id="basic-addon2" ngbDropdownToggle></span>
      <div ngbDropdownMenu>
        <small  class="dropdown-item" 
                *ngFor="let option of options" 
                (click)="optionClick(option)">
          {{option}}
        </small>
      </div>
    </div>
  </div>
  <!--Small text-->
  <small *ngIf="text" class="form-text text-muted">{{text}}</small>
</div>