<div>
  <div class="form-group row">
    <label for="serial" class="col-sm-0 col-form-label">Serial</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="serial" placeholder="Serial" [(ngModel)]="service.serial">
    </div>
  </div>
</div>


<h2>Front</h2>
<div class="row" *ngFor="let row of counter(rows)">
  <div class="col" *ngFor="let col of counter(columns)">
    <bomb-module-selector></bomb-module-selector>
  </div>
</div>
<h2>Back</h2>
<div class="row" *ngFor="let row of counter(rows)">
  <div class="col" *ngFor="let col of counter(columns)">
    <bomb-module-selector [module-name]="'Maze'"></bomb-module-selector>
  </div>
</div>
